:root {
  font-size: 10px;
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.main__container {
  margin: 10% auto;
  width: 500px;
  height: 500px;
  background-color: darkcyan;
}

.playing__field {
  width: 100%;
  height: 100%;
  position: relative;
}

.chip {
  display: inline-block;
  width: 25%;
  height: 25%;
  border: solid rgb(12, 0, 0) 1px;
  font-size: 7rem;
  text-align: center; 
  padding-top: 20px;
  background-image: url(assets/bg-chip.jpg);
  border-radius: 10%;
  cursor: 	default;
  user-select: none;
}
.empty {
  opacity: 0;
}

.dragged:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px greenyellow;
}